
@media only screen and (max-width: 600px) {
    #image-container {
      width: 100%;
      padding-top: 50px;
    }
  }
  
  @media only screen and (min-width: 600px) {
    #image-container {
      width: 50%;
      margin: auto;
      padding-top: 50px;
    }
  }
  
  .dark-mode {
    background-color: #3b3939;
  }
  
  .main-img {
    margin: auto;
    height: 30em !important;
  }

  .main-placeholder {
    height: 30em !important;
  }